html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(196,207,191,1) 100%);
  /* background-image: url("assets/wechat mid.jpg");/*background*/
  /* background-size: cover;
  background-repeat: no-repeat; */ 
}